@model Logi.Models.tblMach

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eedit</title>
</head>
<body>
    <div> 
        @Html.TextBoxFor(m => m.Mach_No)
        <input type="submit" value="Submit">
    </div>
</body>
</html>
