
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <title>View1</title>
</head>
<body>
    <div id= "headbar"> 
        @Html.Label("product","puroduct")
    </div>
</body>
</html>
